@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url(background.png);
    color: #606468;
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    min-height: 100%;
    background-size: cover;
    font-weight: bold;
}

#right {
    margin: 0 0 0 150px;
    float: right;
}

#font-self {
    /* Student info lekhhya wala */
    margin-bottom: 90px;
    margin-left: 30px;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

#asideCont {
    position: absolute;
    text-align: center;
    margin: -430px 0 0 400px;
}

.navBar {
    display: inline;
}

#mainBody {
    margin: 350px 0 0 300px;
    width: 30%;
    position: relative;
}

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.site__container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3rem 0;
}

.align {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}

.grid__container {
    margin: 0 auto;
    max-width: 20rem;
    width: 90%;
}

.group {
    position: absolute;
    margin: -325px 0 0 20px;
}

.round {
    position: absolute;
    margin: -320px 0 0 1050px;
}

#myTopnav {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    background-color: burlywood;
    margin-top: -120px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000fa;
}

ul.topnav li {
    float: left;
    margin-left: 4px;
    padding: 2px 0 2px 4px;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
    background-color: firebrick;
    text-decoration: underline;
    border-radius: 20px;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    ul.topnav li:not(: first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
